

/*this centers the entire page*/
#container{
width: 900px;
margin: auto;

}

body {
  background-color: #f45c42;

}

h1 {
  background-color: #58775e;
  text-emphasis: center;
}

fish {
  image-orientation: center;
}

ul {
  width: 100%;
  background-color: #58775e;
  /*border-top: 2px solid yellow;
  border-bottom: 2px solid ;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
  padding: 5px 30px 5px 30px;
}

nav li a {
  color: white;
  font-family: havatica.;
  font-style: bold;
}

/*use the same table-ID used in JavaScript to style the tabel here*/

#storeSalesTable {
  width: 500px;
  hight: 100px;
  border: 3px solid navy;
}

td, th {
  border: 1px solid black;
  width: 100px;
  height: 40px;
  border-collapse: collapse; /*to remove the double-lines between columns and rows */
  color: white;
  background-color: #58775e;

}


#items {
  pisition: right;
}


div.items {
  width: ;
  border: solid gray;
  margin: 5px;
  padding: 5px;
  display: inline-block; /*this allows items to be side-by-side*/
}

div.shirt {
  display: inline;
  width: 75px;
  /*border: solid gray;*/
  margin: 5px;
}

  #fours{
  padding: 1px;
  margin: auto;
  display: block;
}
